* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.information{
  position: absolute;
  top: 15%;
  width: 50%; 
  right: 3em;
  box-shadow: 7px 13px 37px #000;

}

.card{
  position: absolute;
  margin: auto;
  top: 15%;
  width: 25%; 
  left: 3em;
  box-shadow: 7px 13px 37px #000;
  text-align: center;
  height: 70%;
}
.card .data-information{
margin-top:1em ;
}
.card div {
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
.card div .image-perfil img{
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 5em;
  margin-bottom: 1em;
}
.card div .data-information{
margin-bottom:1em ;
}
.card div .data-information h4{
  margin-bottom:10px;
  }
.card div .data-information p{
    margin-bottom:10px;
    color:#4f4f4ff2;
  }
  .card div .form-image form{
  text-align: center;
  justify-content: center; /* Centrar horizontalmente */
  }
  .card div .form-image form .button{
    background-color: #ff6c00;
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
    border: none;
}  

/*
.card{
  position: absolute;
  width: 30%;
  background: #24303c;
  padding: 30px;
left: 2em;  
margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }*/